
.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}