body {
    background-color:'#ffcc80';
}
.bodyText {
    text-align: justify;
    display: flex;
    justify-content: center;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
}

.m2 {
    margin: 16px;
}