.MuiOutlinedInput-notchedOutline {
    border-color: #ffcc80;
}

.MuiFilledInput-inputMarginDense {
    color: whitesmoke !important;
}

.ForwardRef-searchContainer-7 {
    color: lightgray !important;
}